
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
            </Pattern>
        </layout>
    </appender>
    <logger name="com.mkyong" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="net.dv8tion.jda" level="OFF"/>
    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>